* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-image: url('./components/images/background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

a {
  color: #333;
  text-decoration: none;
}